[Unit]
Description=TGBot Queue default %i
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/php artisan queue:work
LimitNOFILE=1048576
